AUTH_URL=https://formbar.yorktechapps.com
THIS_URL=http://localhost:3000
SESSION_SECRET=change-me
API_KEY=
POOL_ID=59
POOL_PIN=
POOL_OWNER_ID=1
ADMIN_USER_IDS=1
PORT=3000
COLOR_MULTIPLIER_START=1
COLOR_MULTIPLIER_PER_EXTRA=0.1
TIME_BLOCK_HOURS=4
TIME_MULTIPLIER_START=1
TIME_MULTIPLIER_PER_BLOCK=0.1
